<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Logo</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <% if (locals.title == 'Register') { %>
          <li><a href="login">Login</a></li>
        <% } else if (locals.title == 'Login') { %>
          <li><a href="register">Register</a></li>
        <% } else { %>
          <li><a href="register">Register</a></li>
          <li><a href="login">Login</a></li>
        <% } %>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <% if (locals.title == 'Register') { %>
      <li><a href="login">Login</a></li>
    <% } else if (locals.title == 'Login') { %>
      <li><a href="register">Register</a></li>
    <% } else { %>
      <li><a href="register">Register</a></li>
      <li><a href="login">Login</a></li>
    <% } %>
  </ul>