<nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">QFC</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="stocks">Stocks</a></li>
        <li><a href="performance">Performance</a></li>
        <li><a class="logout-btn waves-effect waves-light btn-small deep-orange darken-3">logout</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a href="stocks">Stocks</a></li>
    <li><a href="performance">Performance</a></li>
    <li><a class="logout-btn waves-effect waves-light btn-small deep-orange darken-3"><i class="fas fa-sign-out-alt white-text"></i>logout</a></li>
  </ul>