<%- include ('partials/start') %>
   <div class="container">
       <h4 class="left-align"><%= title %></h4>
   </div>
   <div class="container z-depth-1">
       <br>
       <div class="row">
           <div class="col s12 input-field">
               <input type="email" name="email" id="email">
               <label for="email">Email</label>
           </div>
       </div>
       <div class="row">
           <div class="col s12 input-field">
               <input type="password" name="password" id="password">
               <label for="password">Password</label>
           </div>
       </div>
       <div class="row">
           <div class="col s12 input-field center-align">
                <a id="login-btn" class="waves-effect waves-light btn-large">login</a>
           </div>
       </div>
   </div>
<%- include ('partials/end') %>

