<%- include ('partials/start') %>
    <div class="container z-depth-1">
        <br>
        <div class="row">
            <div class="col s12 l6 input-field">
                <input type="text" name="fname" id="fname">
                <label for="fname">First name</label>
            </div>
            <div class="col s12 l6 input-field">
                <input type="text" name="lname" id="lname">
                <label for="lname">Last name</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field">
                <input type="text" name="onames" id="onames">
                <label for="onames">Other names</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 input-field">
                <input type="tel" name="phone" id="phone">
                <label for="phone">Phone number</label>
            </div>
            <div class="col s12 l6 input-field">
                <input type="email" name="email" id="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6 input-field">
                <input type="password" name="password" id="password">
                <label for="password">Password</label>
            </div>
            <div class="col s12 l6 input-field">
                <input type="password" name="cpassword" id="cpassword">
                <label for="cpassword">Confirm password</label>
            </div>
        </div>
        <div class="row">
            <div class="col s12 input-field center-align">
                <a id="register-btn" class="waves-effect waves-light btn-large">register</a>
            </div>
        </div>
    </div>
<%- include ('partials/end') %>

